:root{
    --color-dark:#01161E;
    --color-gray:#AEC3B0;
    --color-light:#598392;
    --color-mid:#124559;
    --color-white:#EFF6E0;
    --color-green:#09e360;
    --color-red:#ef1010;
    --font-roboto: "Roboto", sans-serif;
}
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    font-family: var(--font-roboto);
}
p{
    width: fit-content;
}
/* HEADER */
.header{
    align-items: center;
    background-color: var(--color-mid);
    color: var(--color-white);
    display: flex;
    height: 70px;
    justify-content: center;
    position: sticky;
}
h1{
    font-size: min(3em,9vw);
    font-weight: 900;
}
/* DIALOG */
dialog{
    background-color: var(--color-gray);
    border-radius: 15px;
    border: 0;
    width: 90%;
    height: 450px;
    padding: 40px 15px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    height: 100%;
}
h2{
    font-weight: 700;
}
input{
    width: 100%;
    font-size: 25px;
}
#status{
    margin: 0;
    width: 22px;
}
#submit{
    background-color: var(--color-light);
    border: 0;
    font-weight: 700;
    width: 90%;
    padding: 9px 0;
    font-size: 25px;
    cursor: pointer;
    color: var(--color-white);
}
/* ADD BOOK */
.add-book{
    display: flex;
    justify-content: center;
}
.add{
    background-color: transparent;
    border: 0;
    font-size: min(6vw,2em);
    font-weight: 900;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

/* MAIN */
.main{
    padding: min(5vw,30px);
}
.books{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}
.book{
    border: 2px solid var(--color-light);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
    min-height: 200px;
    gap: 5px;
    text-wrap: wrap;overflow-wrap: break-word;
    overflow: hidden;
}
.book p{
    text-align: center;
    overflow: hidden;
    font-size: 1.2em;
    line-height: 1.2;
    font-weight: 500;
    text-wrap: wrap;overflow-wrap: break-word;
}
.book button{
    width: 70%;
    padding: 5px 0;
    font-size: 1.4em;
    border-radius: 15px;
    font-weight: 800;
    border: none;
    color: var(--color-white);
    background-color: var(--color-red);
    cursor: pointer;
}
.book .read{
    background-color: var(--color-green);
}